:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: rgb(83, 83, 83);
    --theme-color: #fa5230;
    --shadow-box-color: rgba(0, 0, 0, 0.3);
    --border-color: rgba(180, 179, 179, 0.452);
    --shopee-mail-color: #d0011b;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 100%;
    line-height: 1rem;
    font-family: 'Baloo Bhaijaan 2', cursive;
    box-sizing: border-box;
    font-weight: lighter;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid_full_screen {
    width: 100%;
}

.button_hover:hover {
    cursor: pointer;
    color: var(--theme-color);
}

a {
    text-decoration: none;
    color: var(--white-color);
}

p {
    margin: 0
}

h4 {
    margin: 0
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.header-btn {
    font-size: 0.9rem; 
    font-family: 'Baloo Bhaijaan 2', cursive; 
    color: var(--theme-color); 
    margin-right: 25px; 
    cursor: pointer;
}

.header-label {
    padding: 25px 0px 20px 25px;
    border-bottom: 0.5px var(--border-color) solid;
    font-size: 1rem;
    font-family: 'Spartan', sans-serif;
}
