:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: rgb(83, 83, 83);
    --theme-color: #fa5230;
    --shadow-box-color: rgba(0, 0, 0, 0.3);
}

* {
    box-sizing: inherit;
}

html {
    font-size: 100%;
    line-height: 1rem;
    font-family: 'Baloo Bhaijaan 2', cursive;
    box-sizing: border-box;
    font-weight: lighter;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid_full_screen {
    width: 100%;
}

.grid_row {
    display: flex;
    flex-flow: row wrap;
}

.button_hover:hover {
    cursor: pointer;
    color: var(--theme-color);
}

a {
    text-decoration: none;
    color: var(--white-color);
}