/* ************** HEADER **************** */
#header {
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;

    width: 100%;
    height: 120px;
    background-color: var(--theme-color);
    color: var(--white-color);  
}
    /* ****** NAVIGATION ******* */
.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 5px 0px 10px 0px;
}

.nav-bar .conect {
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.conect>div {
    padding: 0px 10px;
}
.conect>div + div {
    border-left: 0.5px white solid;
}
.QRcode {
    display: none;
    position: absolute;
    margin-top: 10px;
    box-shadow: 1px 1px 3px var(--shadow-box-color)
}
.QRcode--show {
    display: block;
    animation: fade_in ease 0.3s;
}

@keyframes fade_in {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

@keyframes fade_out {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.nav-bar .user {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.user>div + div {
    margin-left: 15px;
}

.user__login>div {
    display: inline-block;
    margin: auto;
}
.user__login>div:first-child {
    padding-right: 10px;
    border-right: 1px white solid;
}
.user__login>div:last-child {
    padding-left: 10px;
}

.notification-box {
    display: none;
}
.notification-box--show {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    position: absolute;
    animation: zoom_in ease 0.3s;
}
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 10px solid var(--white-color);
    margin-left: 35px;
}
.notification-box__box {
    width: 400px;
    height: 320px;
    background-image: url(../imgs/notification_box.png);
    background-clip: content-box;
    box-shadow: 0px 0px 1px 0px var(--shadow-box-color)
}
.notification-box__login {
    width: 400px;
    margin-right: 20px;
    color: var(--black-color);
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 1px 0px 0px var(--shadow-box-color)
}
.notification-box__login>div {
    padding: 10px 77.55px;
    background-color: var(--border-color);
}


.language-box {
    display: none;
}
.language-box--show {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    position: absolute;
    animation: zoom_in ease 0.2s;
}
.language-box__box {
    background: var(--white-color);
    color: var(--black-color);
}
.language-box__box>div {
    padding: 15px 100px 10px 10px;
}

@keyframes zoom_in {
    from {
        transform: scale(0.7) translate(-25%, -25%);
        opacity: 0.2;
    }
    to {
        transform: scale(1) translate(0, 0);
        opacity: 1;
    }
}

    /* ****** SEARCH-BAR ******* */
.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-bar__logo {
    padding: 10px 0px;
    margin-right: 30px;
    width: 170px;
    cursor: pointer;
}

.search-bar__bar {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    margin-top: 7px;
}
.search-bar__bar #input-search {
    width: 87%;
    height: 40px;
    padding: 10px 10px;
    border: 2px white solid;
    color: black;
    background-color: white;
}
.search-bar__bar #search-btn {
    padding: 10px 20px;
    height: 40px;
    border: 2px var(--white-color) solid;
    box-sizing: border-box;
}
.search-bar__bar #hot-search {
    display: flex;
    margin-top: 10px;
    font-size: 0.9rem;
    font-weight: lighter;
}
.search-bar__bar #hot-search>span + span {
    padding-left: 10px;
}

.search-bar__cart {
    flex-grow: 4;
    font-size: 23px;
}

.search-bar__bar>div:nth-child(3)>span:hover,
.conect>div:nth-child(1):hover,
.conect>div:nth-child(2):hover, 
.user__help:hover {
    cursor: pointer;
    opacity: 0.8;
}

.search-bar__bar #search-btn:hover {
    background-color: #ec6b52;
    cursor: pointer;
}

.cart-btn {
    position: fixed;
    top: 60px;
}
.cart-box {
    display: none;
}
.cart-box--show {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-end;
    animation: zoom_in ease 0.2s;
}
.cart-box .arrow-up {
    margin: 40px 35px 0 0;
}
.cart-box__box {
    width: 400px;
    height: 250px;
    margin: 50px 25px 0 0; 
    position: absolute;
    background-image: url(../imgs/cart_box.png);
    box-shadow: 0px 0px 2px 0px var(--shadow-box-color)
}

/* ********************************************** */

/* ************** ADVERTISE - BIG CATEGORY **************** */
#advertise-bigCategory {
    width: 100%;
    height: 540px;
    padding-top: 120px;
    background-color: var(--white-color);
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
    box-sizing: border-box;
}
    /* ***** ADVERTISE ***** */
.advertise {
    padding-top: 30px;
    height: 67%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.advertise>div + div {
    margin-left: 7px;
}

.ad-slider {
    flex-grow: 8;
    background-image: url(../imgs/Advertisement/ad_3.jpg);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    transition: background-image 0.5s;

}
.ad-slider--sliding {
    animation: slide ease 0.1s;
}

.ad-slider__left, 
.ad-slider__right {
    opacity: 0;
    align-self: center;
    padding: 20px 10px;
    background-color: rgba(0, 0, 0, 0.4);
    color: var(--white-color);
    font-size: 20px;
}

.ad-slider__dot {
    font-size: 10px;
    color: var(--white-color);
    opacity: 0.7;
    padding-bottom: 10px;
    align-self: flex-end;
}
.ad-slider__dot>i + i {
    margin-left: 10px;
}

.ad-label-1 {
    flex-grow: 7;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}
.ad_label-1__first {
    margin-bottom: 3.5px;
    flex-grow: 1;
    background-image: url(../imgs/Advertisement/ad_1.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.ad-label-1__second {
    margin-top: 3.5px;
    flex-grow: 1;
    background-image: url(../imgs/Advertisement/ad_2.png);
    background-size: cover;
    background-repeat: no-repeat;
}

    /* ***** BIG CATEGORY ***** */
.bigCategory {
    margin-top: 25px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    text-align: center;
    font-size: 0.9rem;
}
.bigCategory img {
    width: 50px;
}
.bigCategory p {
    margin: 0;
}

.bigCategory div:hover {
    cursor: pointer;
    transform: translateY(-3%);
}

/* ***************************************************8 */

/* ************** MAIN **************** */
#main {
    background-color: rgba(180, 179, 179, 0.158);
    padding-top: 20px;
}

    /* ***** AD LABEL ***** */
.ad-label-2 {
    height: 110px;
    margin-bottom: 20px;
    background-image: url(../imgs/Advertisement/ad_16.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

    /* ***** DETAIL CATEGORY LIST ***** */
.detail-category {
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    background-color: var(--white-color);
}

.category-list {
    font-size: 0.9rem;

    display: flex;
    flex-flow: row wrap;
}
.category-list>div + div {
    border-left: 0.5px var(--border-color) solid;
    border-bottom: 0.5px var(--border-color) solid;
}

.category-list__element {
    width: 10%;
    text-align: center;
}

.category-list__element>img {
    width: 75%;
}
.category-list__element>p {
    margin: 0 0 15px 0;
}

.category-list__element:hover {
    cursor: pointer;
    box-shadow: 1px 1px 0.5px 0.5px rgba(180, 179, 179, 0.247), -1px 0px 0.5px 0.5px rgba(180, 179, 179, 0.247);
}

    /* ***** FLASH SALE ***** */
.flash-sale {
    background-color: white;
    margin-bottom: 20px;
}

.flash-sale__head {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px 10px 25px;
}

.countdown-timer {
    display: flex;
    flex-flow: row wrap;
    font-size: 15px;
    margin-left: 30px;
}
.countdown-timer>div {
    width: 35px;
    color: var(--white-color);
    padding: 5px 5px;
    border-radius: 5px;
    background-color: var(--black-color);
    text-align: center;
}
.countdown-timer>div + div {
    margin-left: 5px;
}
.countdown-timer>div>div {
    display: inline-block;
}

.highlight-products {
    display: flex;
}

.flash-sale-product--p0,
.flash-sale-product--p1,
.flash-sale-product--p2 {
    display: none;
}

.highlight-products--show {
    flex-grow: 1;
    margin-top: 5px;

    display: flex !important;
    flex-flow: row wrap;
    justify-content: space-around;
    animation: slider ease 0.7s;
}

@keyframes slider {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.highlight-products__element {
    flex-grow: 2;
    width: 14%;
    height: 250px;
}
.highlight-products__element + .highlight-products__element {
    margin-left: 20px;
}

.product-image {
    height: 75%;
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat
}

.product-price {
    font-size: 1.3rem;
    color: var(--theme-color);
    text-align: center;
    margin-top: 10px;
}

.product-stoke {
    margin-top: 10px;
    box-sizing: border-box;
}
.product-stoke>div:first-child {
    height: 17px;
    margin-left: 15px;
    border-radius: 20px;
    background-color: var(--theme-color);

    position: absolute;
}
.product-stoke>div:nth-child(2) {
    width: 140px;
    height: 17px;
    margin-left: 15px;
    background-color: var(--theme-color);
    opacity: 0.4;
    border-radius: 20px;

    position: absolute;
}
.product-stoke>div:nth-child(3) {
    font-size: 0.9rem;
    color: var(--white-color);
    text-align: center;

    position: absolute;
    padding: 2px 0 0 65px;
}

.product-arrow__left,
.product-arrow__right {
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 7px 0px 0px 0px;

    background-color: var(--white-color);
    border-radius: 100px;
    box-shadow: 1px 2px 2px 1px rgba(180, 179, 179, 0.418), 
                -1px 0px 2px 1px rgba(180, 179, 179, 0.418);

    align-self: center;
    flex-grow: 0;
}
.product-arrow__left:hover,
.product-arrow__right:hover {
    transform: scale(2);
}


    /* ***** ADVERTISE LABEL 3 ***** */
.ad-label-3 {
    height: 120px;
    background-image: url(../imgs/Advertisement/ad_label_3.png);
    background-size: contain;
    background-repeat: no-repeat;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.ad-label-3>a {
    width: 32%;
}

    
    /* ***** SHOPEE MAIL ***** */
.shopee-mail {
    background-color: var(--white-color);
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.shopee-mail-head {
    padding: 25px 0px 25px 25px;
    border-bottom: 1px var(--border-color) solid;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.shopee-mail-head__card + .shopee-mail-head__card{
    margin-left: 20px;
}
.shopee-mail-head__card:first-child {
    font-size: 1.2rem;
    color: var(--shopee-mail-color);
    padding-right: 15px;
    border-right: 1px var(--border-color) solid;
}
.shopee-mail-head__card:not(:first-child) i {
    color: var(--shopee-mail-color);
}

.shopee-mail-contain {
    margin-top: 10px;
    height: 450px;
    display: flex;
    flex-flow: row nowrap;
}
.shopee-mail-slider {
    flex-grow: 3;

    background-image: url(../imgs/Advertisement/ad_17.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: 10px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    
    transition: background-image 0.5s;

}


.top-brand {
    display: flex;
    flex-flow: row nowrap;
    flex-basis: 70%;
}
.brand-list-p0,
.brand-list-p1 {
    display: none;
}
.brand-list--show {
    display: flex;
    flex-flow: row wrap;
    flex-basis: 95%;

    animation: slider ease 0.6s;
}
.brand-list-element {
    width: 25%;
}


    /* ***** TOP-SEARCH ***** */
.top-search {
    background-color: var(--white-color);
    margin-bottom: 20px;
}


.top-search-contain {
    display: flex;
    flex-flow: row wrap;
}
.top-search-contain__element {
    flex-basis: 20%;
    padding-top: 10px;

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start ;
}
.top-search-contain__element + .top-search-contain__element {
    border-left:  0.5px var(--border-color) solid;
}

.top-search-contain__element>div {
    align-self: center;
    margin: 0 10px 0 10px;
}
.top-search-contain__element>img {
    width: 100px;
}


    /* ***** TOP-PRODUCT ***** */
.top-product {
    background-color: var(--white-color);
    margin-bottom: 20px;
}

.top-product--p0,
.top-product--p1,
.top-product--p2 {
    display: none;
}

.top-product .product-image {
    display: flex;
    flex-flow: column-reverse;
    justify-content: space-between;
    text-align: center;
}
.top-product .product-image>div:nth-child(2) {
    background-image: url(../imgs/top.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 50px
}
.top-product .product-image>div:nth-child(1) {
    color: var(--white-color);
    padding: 5px;
    background-color: rgba(129, 126, 126, 0.788);
}

.product-name {
    margin-top: 20px;
    font-size: 1.2rem;
}

    /* ***** DAILY-DISCOVER ***** */
.daily-discover__header {
    background-color: var(--white-color);
    padding-bottom: 0;
    margin-bottom: 10px;
}

.daily-discover__header>div {
    display: inline-block;
    padding: 25px 30px 20px 30px;
    color: var(--theme-color);
    border-bottom: 5px var(--theme-color) solid;

    font-size: 1.2rem;
}

.daily-discover__contain {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

}
.product-element {
    background-color: var(--white-color);
    flex-basis: 15%;
}
.product-element>img {
    width: 190px;
    text-align: center;
}
.product-info {
    font-size: 0.8rem;
    padding: 5px 10px;
}
.product-info > div:nth-child(2) {
    margin-top: 20px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.product-info__number {
    align-self: flex-end;
}
